* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* HERO PAGE */
.hero {
    background-image: url("images/bg.jpg");
    min-height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-family: "Cormorant", serif;
    font-size: 7rem;
    font-weight: 400;
    animation: rise-in 3s;
}

    @keyframes rise-in {
        
        
    }

.hero p{
    font-family: "Caveat", cursive;
    font-size: 4rem;
}