* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* HERO PAGE */
.hero {
    background-image: url("images/bg.jpg");
    min-height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1{
    font-family: "Cormorant", serif;
    font-size: 7.5rem;
    font-weight: 600;
}

.hero p{
    font-family: "Quicksand", sans-serif;
    font-size: 5vh;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1.5s 1.5s ease forwards;
}

@keyframes fadeIn {
    to { opacity: 1; transform: translateY(0);}
}

.letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(100px);
    animation: fadeSlideUp 1s ease forwards ;
    animation-delay: 1s;
 }

@keyframes fadeSlideUp {
    0% {opacity:0; transform: translateY(100px);}
    100% {opacity: 1; transform: translateY(0);}
}


/* QUOTE PAGE */
.quote{
    background-color: #E6D5B8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote p{
    font-family: "Alan Sans", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}


/* ABOUT HER PAGE */
.about{                                           /*styling of the whole page*/
    background-color: #f2d7d5;
    min-height: 100vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.about-content{                             /*separation of content to add border and outline to the content div*/
    margin:3em;
    padding: 3rem;
    box-sizing: border-box;
    border: 4px solid #7b1113 ;
    outline: 4px solid #7b1113 ;
    outline-offset: 10px;
}

.about .img{
    width: 400px;
    height:400px;
}

.about img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #d4af37;
    object-fit: cover;
}

.about .heading{
    font-size: 2rem;
    color: #7b1113;
    margin-bottom:1rem;
}

.about p{
    font-size: 2rem;
}